body{
    font-family: 'Mukta Vaani', sans-serif;
}
.flex-display{
    display: flex;
    padding-left: 40px;
}
h1{
    font-size: 55px;
    color: rgb(102, 100, 100);
    margin-bottom: 30px;
    line-height: 80px;
}
p{
    font-size: 20px;
    color: rgb(150, 146, 146);
    margin-bottom: 50px;
}
.orange{
    color: rgb(252, 157, 41);
}
.half-width{
    width: 50%;
    padding: 40px;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to right, rgb(248, 123, 39), rgb(252, 81, 50));
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 30px tomato;
}
.top-down{
    margin-top: 130px;
}
.bg-image{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 170px;
    padding-right: 100px;
}
h2{
    font-size: 40px;
    color: rgb(102, 100, 100);

}
.image-flex{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -40px;
}
.onethird-width{
    width: 30%;
    box-shadow: 10px 10px 30px rgb(202, 198, 198);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}
.onethird-width img{
    width: 100%;
    
}

#text-center{
    margin-top: 60px;
    text-align: center;
}
#text-center p{
    margin-top: -20px;
}
h3{
    font-size: 30px;
}
footer{
    background: rgb(19, 19, 19);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}
h4{
    font-size: 25px;
    color: rgb(102, 100, 100);;
}
h5{
    color: white;
}
.healthy-foods{
    background-image: url(images/food/healthy.jpg);
    background-repeat: no-repeat;
    margin-left: -8px;
    margin-right: -8px;
    padding: 20px;
    margin-bottom: 40px;

}
.healthy-flex-display{
    display: flex;
    
}
.healthy-section{
    background: white;
    opacity: .8;
    margin: 40px;
    margin-bottom: -20px;
    border-radius: 20px;
}
.healthy-section h3{
    font-size: 25px;
    margin-top: -20px;
}
.healthy-section p{
    font-size: 16px;
    color: black;
    margin-bottom: -20px;
}